flows.json
[
    {
        "id": "4b803cb8598ad03c",
        "type": "tab",
        "label": "DP2",
        "disabled": false,
        "info": "Wait for an event on DP2\r\nQuery db\r\nSend connect to the translated number",
        "env": []
    },
    {
        "id": "d34beaabc10a708c",
        "type": "mongodb",
        "hostname": "${MONGODB_HOST}",
        "topology": "direct",
        "connectOptions": "",
        "port": 27017,
        "db": "config",
        "name": "mongodb1"
    },
    {
        "id": "80820d3a3673b18a",
        "type": "global-config",
        "name": "global-config",
        "env": []
    },
    {
        "id": "a0f8af1e15d130ab",
        "type": "openApi-red-url",
        "name": "cap-aef",
        "url": "openapi-default.json",
        "urlType": "Files",
        "server": "${CAPAEF_URL}",
        "serverType": "server",
        "devMode": "",
        "headers": [],
        "timestamp": 1750261025999,
        "useAuthCertificate": ""
    },
    {
        "id": "d33d4a88e8138869",
        "type": "http in",
        "z": "4b803cb8598ad03c",
        "name": "Wait for IDP",
        "url": "/api/v1.2.1/ses/cap/session",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "cd911298817add70",
                "e4976a212d3ecc65",
                "6814b9789f0f6704"
            ]
        ]
    },
    {
        "id": "cd911298817add70",
        "type": "debug",
        "z": "4b803cb8598ad03c",
        "name": "Trace new request",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 120,
        "wires": []
    },
    {
        "id": "dba55259a7d5564b",
        "type": "function",
        "z": "4b803cb8598ad03c",
        "name": "Prepare DB query",
        "func": "// Check if the required path exists in the incoming payload\nif (msg.payload &&\n    msg.payload.executorArgs &&\n    msg.payload.executorArgs.request &&\n    msg.payload.executorArgs.request.calledPartyNumber &&\n    msg.payload.executorArgs.request.calledPartyNumber.digits) {\n\n    const digitsToSearch = msg.payload.executorArgs.request.calledPartyNumber.digits;\n\n    // Construct the query object for MongoDB\n    // You'll need to replace 'your_field_name_in_db' with the actual\n    // field name in your MongoDB collection that stores the digits.\n    msg.payload = {\n        \"SD\": digitsToSearch\n    };\n\n    // Optional: Set the collection name if you want to override the node config\n    // msg.collection = \"yourCollectionName\";\n\n    return msg;\n} else {\n    // If the expected path is not found, send an error or log it\n    node.warn(\"Required 'digits' field not found in payload.\");\n    return null; // Return null to stop the flow for this message\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 320,
        "wires": [
            [
                "6ad7b60f2aad4e0f"
            ]
        ]
    },
    {
        "id": "3dc2d795d7e40c1a",
        "type": "http response",
        "z": "4b803cb8598ad03c",
        "name": "Respond to CAP-AEF",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "e4976a212d3ecc65",
        "type": "change",
        "z": "4b803cb8598ad03c",
        "name": "Prepare response",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"success\",\"data\":null,\"message\":\"processing session...\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 40,
        "wires": [
            [
                "3dc2d795d7e40c1a"
            ]
        ]
    },
    {
        "id": "6ad7b60f2aad4e0f",
        "type": "switch",
        "z": "4b803cb8598ad03c",
        "name": "Check if query is valid",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "609d59ff08caab32"
            ],
            [
                "037756a015f8d5ca",
                "40e90d39e39116a9"
            ]
        ]
    },
    {
        "id": "609d59ff08caab32",
        "type": "openApi-red",
        "z": "4b803cb8598ad03c",
        "name": "Send CUE",
        "configUrlNode": "a0f8af1e15d130ab",
        "apiTag": "gsmSCF to gsmSSF",
        "keepAuth": false,
        "operationData": {
            "id": "_continue",
            "hasOperationId": true,
            "path": "/api/v1.2.1/cap/scf/call/{id}/continue",
            "method": "put"
        },
        "target": "payload",
        "targetType": "msg",
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "text": "",
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "isActive": true,
                "activeFilter": "",
                "type": "editor:continueWithArgs",
                "parameters": {
                    "segment": {
                        "name": "segment",
                        "activeFilter": ""
                    },
                    "dialogId": {
                        "name": "dialogId",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "msg",
                        "value": "payload.dialogId"
                    },
                    "eventType": {
                        "name": "eventType",
                        "activeFilter": ""
                    },
                    "callingPartyNumber": {
                        "name": "callingPartyNumber",
                        "activeFilter": "",
                        "type": "editor:CallingPartyNumber",
                        "parameters": {
                            "natureOfAddressIndicator": {
                                "name": "natureOfAddressIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.natureOfAddressIndicator"
                            },
                            "numberIncompleteIndicator": {
                                "name": "numberIncompleteIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.numberIncompleteIndicator"
                            },
                            "addressRepresentationRestrictedIndicator": {
                                "name": "addressRepresentationRestrictedIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.addressRepresentationRestrictedIndicator"
                            },
                            "numberingPlanIndicator": {
                                "name": "numberingPlanIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.numberingPlanIndicator"
                            },
                            "screeningIndicator": {
                                "name": "screeningIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.screeningIndicator"
                            },
                            "address": {
                                "name": "address",
                                "activeFilter": ""
                            },
                            "oddFlag": {
                                "name": "oddFlag",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.oddFlag"
                            },
                            "code": {
                                "name": "code",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.code"
                            }
                        }
                    },
                    "final": {
                        "name": "final",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "bool",
                        "collapsed": false,
                        "value": "true"
                    }
                },
                "collapsed": false
            },
            "id path": {
                "name": "id",
                "isActive": true,
                "activeFilter": "",
                "required": true,
                "type": "msg",
                "collapsed": false,
                "value": "payload.executorArgs.request.dialogId",
                "in": "path"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 2,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "OK"
            },
            {
                "code": "404",
                "text": "Not Found"
            }
        ],
        "responseAsPayload": false,
        "debugMode": false,
        "headers": [],
        "_version": "2.7.0",
        "x": 750,
        "y": 240,
        "wires": [
            [
                "64ca9fb831dc38fb"
            ],
            [
                "64ca9fb831dc38fb"
            ]
        ]
    },
    {
        "id": "64ca9fb831dc38fb",
        "type": "debug",
        "z": "4b803cb8598ad03c",
        "name": "Trace end",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 220,
        "wires": []
    },
    {
        "id": "40e90d39e39116a9",
        "type": "mongodb in",
        "z": "4b803cb8598ad03c",
        "mongodb": "d34beaabc10a708c",
        "name": "Lookup the shortcode",
        "collection": "shortcodes",
        "operation": "find",
        "x": 740,
        "y": 320,
        "wires": [
            [
                "966a45fb4b98cb32",
                "39ccd15a3e7365dc"
            ]
        ]
    },
    {
        "id": "d277e155e3684a72",
        "type": "openApi-red",
        "z": "4b803cb8598ad03c",
        "name": "Send CON to RL",
        "configUrlNode": "a0f8af1e15d130ab",
        "apiTag": "gsmSCF to gsmSSF",
        "keepAuth": false,
        "operationData": {
            "id": "connect",
            "hasOperationId": true,
            "path": "/api/v1.2.1/cap/scf/call/{id}/connect",
            "method": "put"
        },
        "target": "payload",
        "targetType": "msg",
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "text": "",
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "isActive": true,
                "activeFilter": "",
                "type": "editor:connect",
                "parameters": {
                    "sendingSideID": {
                        "name": "sendingSideID",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "jsonata",
                        "value": "null"
                    },
                    "dialogId": {
                        "name": "dialogId",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "flow",
                        "collapsed": false,
                        "value": "dialogId"
                    },
                    "final": {
                        "name": "final",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "bool",
                        "value": "true"
                    },
                    "ocsIApplicable": {
                        "name": "ocsIApplicable",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "jsonata",
                        "collapsed": false,
                        "value": "null"
                    },
                    "calledPartyNumber": {
                        "name": "calledPartyNumber",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "editor:CalledPartyNumber",
                        "collapsed": false,
                        "parameters": {
                            "natureOfAddressIndicator": {
                                "name": "natureOfAddressIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "num",
                                "collapsed": false,
                                "value": "3"
                            },
                            "numberingPlanIndicator": {
                                "name": "numberingPlanIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "num",
                                "collapsed": false,
                                "value": "1"
                            },
                            "internalNetworkNumberIndicator": {
                                "name": "internalNetworkNumberIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "num",
                                "collapsed": false,
                                "value": "1"
                            },
                            "address": {
                                "name": "address",
                                "isActive": true,
                                "activeFilter": "",
                                "type": "msg",
                                "collapsed": false,
                                "value": "payload.RL"
                            },
                            "oddFlag": {
                                "name": "oddFlag",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "jsonata",
                                "collapsed": false,
                                "value": "null"
                            },
                            "code": {
                                "name": "code",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "jsonata",
                                "collapsed": false,
                                "value": "null"
                            }
                        }
                    },
                    "redirectingPartyNumber": {
                        "name": "redirectingPartyNumber",
                        "activeFilter": "",
                        "type": "editor:RedirectingNumberImpl",
                        "parameters": {
                            "addressRepresentationRestrictedIndicator": {
                                "name": "addressRepresentationRestrictedIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectingPartyNumber.addressRepresentationRestrictedIndicator"
                            },
                            "numberingPlanIndicator": {
                                "name": "numberingPlanIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectingPartyNumber.numberingPlanIndicator"
                            },
                            "address": {
                                "name": "address",
                                "activeFilter": ""
                            },
                            "code": {
                                "name": "code",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectingPartyNumber.code"
                            },
                            "natureOfAddressIndicator": {
                                "name": "natureOfAddressIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectingPartyNumber.natureOfAddressIndicator"
                            },
                            "primitiveName": {
                                "name": "primitiveName",
                                "activeFilter": ""
                            },
                            "oddFlag": {
                                "name": "oddFlag",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectingPartyNumber.oddFlag"
                            }
                        }
                    },
                    "legType": {
                        "name": "legType",
                        "activeFilter": ""
                    },
                    "redirectionInformation": {
                        "name": "redirectionInformation",
                        "activeFilter": "",
                        "type": "editor:RedirectionInformation",
                        "parameters": {
                            "redirectingIndicator": {
                                "name": "redirectingIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectionInformation.redirectingIndicator"
                            },
                            "originalRedirectionReason": {
                                "name": "originalRedirectionReason",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectionInformation.originalRedirectionReason"
                            },
                            "redirectionCounter": {
                                "name": "redirectionCounter",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectionInformation.redirectionCounter"
                            },
                            "redirectionReason": {
                                "name": "redirectionReason",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectionInformation.redirectionReason"
                            },
                            "code": {
                                "name": "code",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectionInformation.code"
                            }
                        }
                    },
                    "eventType": {
                        "name": "eventType",
                        "activeFilter": ""
                    },
                    "callingPartyNumber": {
                        "name": "callingPartyNumber",
                        "activeFilter": "",
                        "type": "editor:CallingPartyNumber",
                        "parameters": {
                            "natureOfAddressIndicator": {
                                "name": "natureOfAddressIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.natureOfAddressIndicator"
                            },
                            "numberIncompleteIndicator": {
                                "name": "numberIncompleteIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.numberIncompleteIndicator"
                            },
                            "addressRepresentationRestrictedIndicator": {
                                "name": "addressRepresentationRestrictedIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.addressRepresentationRestrictedIndicator"
                            },
                            "numberingPlanIndicator": {
                                "name": "numberingPlanIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.numberingPlanIndicator"
                            },
                            "screeningIndicator": {
                                "name": "screeningIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.screeningIndicator"
                            },
                            "address": {
                                "name": "address",
                                "activeFilter": ""
                            },
                            "oddFlag": {
                                "name": "oddFlag",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.oddFlag"
                            },
                            "code": {
                                "name": "code",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.code"
                            }
                        }
                    },
                    "originalCalledNumber": {
                        "name": "originalCalledNumber",
                        "activeFilter": "",
                        "type": "editor:OriginalCalledNumber",
                        "parameters": {
                            "natureOfAddressIndicator": {
                                "name": "natureOfAddressIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.originalCalledNumber.natureOfAddressIndicator"
                            },
                            "addressRepresentationRestrictedIndicator": {
                                "name": "addressRepresentationRestrictedIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.originalCalledNumber.addressRepresentationRestrictedIndicator"
                            },
                            "numberingPlanIndicator": {
                                "name": "numberingPlanIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.originalCalledNumber.numberingPlanIndicator"
                            },
                            "address": {
                                "name": "address",
                                "activeFilter": ""
                            },
                            "code": {
                                "name": "code",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.originalCalledNumber.code"
                            },
                            "oddFlag": {
                                "name": "oddFlag",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.originalCalledNumber.oddFlag"
                            }
                        }
                    }
                },
                "collapsed": false
            },
            "id path": {
                "name": "id",
                "isActive": true,
                "activeFilter": "",
                "required": true,
                "type": "flow",
                "collapsed": false,
                "value": "dialogId",
                "in": "path"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 2,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "OK"
            },
            {
                "code": "404",
                "text": "Not Found"
            }
        ],
        "responseAsPayload": false,
        "debugMode": false,
        "headers": [],
        "_version": "2.7.0",
        "x": 1230,
        "y": 280,
        "wires": [
            [
                "64ca9fb831dc38fb"
            ],
            []
        ]
    },
    {
        "id": "037756a015f8d5ca",
        "type": "debug",
        "z": "4b803cb8598ad03c",
        "name": "Trace query",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "966a45fb4b98cb32",
        "type": "debug",
        "z": "4b803cb8598ad03c",
        "name": "Trace query result",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 420,
        "wires": []
    },
    {
        "id": "6814b9789f0f6704",
        "type": "change",
        "z": "4b803cb8598ad03c",
        "name": "Keep local variables",
        "rules": [
            {
                "t": "set",
                "p": "dialogId",
                "pt": "flow",
                "to": "payload.executorArgs.request.dialogId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "imsi",
                "pt": "flow",
                "to": "payload.executorArgs.request.imsi",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "dba55259a7d5564b"
            ]
        ]
    },
    {
        "id": "39ccd15a3e7365dc",
        "type": "switch",
        "z": "4b803cb8598ad03c",
        "name": "Check if RL",
        "property": "imsi",
        "propertyType": "flow",
        "rules": [
            {
                "t": "regex",
                "v": "^4250303",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^42503",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 320,
        "wires": [
            [
                "d277e155e3684a72"
            ],
            [
                "9b8defbfbcd8069d"
            ]
        ]
    },
    {
        "id": "9b8defbfbcd8069d",
        "type": "openApi-red",
        "z": "4b803cb8598ad03c",
        "name": "Send CON to PCL",
        "configUrlNode": "a0f8af1e15d130ab",
        "apiTag": "gsmSCF to gsmSSF",
        "keepAuth": false,
        "operationData": {
            "id": "connect",
            "hasOperationId": true,
            "path": "/api/v1.2.1/cap/scf/call/{id}/connect",
            "method": "put"
        },
        "target": "payload",
        "targetType": "msg",
        "outputStyle": "each response",
        "errorHandling": "throw exception",
        "internalErrors": {
            "text": "",
            "source": ""
        },
        "parameters": {
            "requestBody": {
                "name": "Request body",
                "isActive": true,
                "activeFilter": "",
                "type": "editor:connect",
                "parameters": {
                    "sendingSideID": {
                        "name": "sendingSideID",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "jsonata",
                        "value": "null"
                    },
                    "dialogId": {
                        "name": "dialogId",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "flow",
                        "collapsed": false,
                        "value": "dialogId"
                    },
                    "final": {
                        "name": "final",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "bool",
                        "value": "true"
                    },
                    "ocsIApplicable": {
                        "name": "ocsIApplicable",
                        "isActive": true,
                        "activeFilter": "",
                        "required": true,
                        "type": "jsonata",
                        "collapsed": false,
                        "value": "null"
                    },
                    "calledPartyNumber": {
                        "name": "calledPartyNumber",
                        "isActive": true,
                        "activeFilter": "",
                        "type": "editor:CalledPartyNumber",
                        "collapsed": false,
                        "parameters": {
                            "natureOfAddressIndicator": {
                                "name": "natureOfAddressIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "num",
                                "collapsed": false,
                                "value": "3"
                            },
                            "numberingPlanIndicator": {
                                "name": "numberingPlanIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "num",
                                "collapsed": false,
                                "value": "1"
                            },
                            "internalNetworkNumberIndicator": {
                                "name": "internalNetworkNumberIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "num",
                                "collapsed": false,
                                "value": "1"
                            },
                            "address": {
                                "name": "address",
                                "isActive": true,
                                "activeFilter": "",
                                "type": "msg",
                                "collapsed": false,
                                "value": "payload.PCL"
                            },
                            "oddFlag": {
                                "name": "oddFlag",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "jsonata",
                                "collapsed": false,
                                "value": "null"
                            },
                            "code": {
                                "name": "code",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "jsonata",
                                "collapsed": false,
                                "value": "null"
                            }
                        }
                    },
                    "redirectingPartyNumber": {
                        "name": "redirectingPartyNumber",
                        "activeFilter": "",
                        "type": "editor:RedirectingNumberImpl",
                        "parameters": {
                            "addressRepresentationRestrictedIndicator": {
                                "name": "addressRepresentationRestrictedIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectingPartyNumber.addressRepresentationRestrictedIndicator"
                            },
                            "numberingPlanIndicator": {
                                "name": "numberingPlanIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectingPartyNumber.numberingPlanIndicator"
                            },
                            "address": {
                                "name": "address",
                                "activeFilter": ""
                            },
                            "code": {
                                "name": "code",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectingPartyNumber.code"
                            },
                            "natureOfAddressIndicator": {
                                "name": "natureOfAddressIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectingPartyNumber.natureOfAddressIndicator"
                            },
                            "primitiveName": {
                                "name": "primitiveName",
                                "activeFilter": ""
                            },
                            "oddFlag": {
                                "name": "oddFlag",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectingPartyNumber.oddFlag"
                            }
                        }
                    },
                    "legType": {
                        "name": "legType",
                        "activeFilter": ""
                    },
                    "redirectionInformation": {
                        "name": "redirectionInformation",
                        "activeFilter": "",
                        "type": "editor:RedirectionInformation",
                        "parameters": {
                            "redirectingIndicator": {
                                "name": "redirectingIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectionInformation.redirectingIndicator"
                            },
                            "originalRedirectionReason": {
                                "name": "originalRedirectionReason",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectionInformation.originalRedirectionReason"
                            },
                            "redirectionCounter": {
                                "name": "redirectionCounter",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectionInformation.redirectionCounter"
                            },
                            "redirectionReason": {
                                "name": "redirectionReason",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectionInformation.redirectionReason"
                            },
                            "code": {
                                "name": "code",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.redirectionInformation.code"
                            }
                        }
                    },
                    "eventType": {
                        "name": "eventType",
                        "activeFilter": ""
                    },
                    "callingPartyNumber": {
                        "name": "callingPartyNumber",
                        "activeFilter": "",
                        "type": "editor:CallingPartyNumber",
                        "parameters": {
                            "natureOfAddressIndicator": {
                                "name": "natureOfAddressIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.natureOfAddressIndicator"
                            },
                            "numberIncompleteIndicator": {
                                "name": "numberIncompleteIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.numberIncompleteIndicator"
                            },
                            "addressRepresentationRestrictedIndicator": {
                                "name": "addressRepresentationRestrictedIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.addressRepresentationRestrictedIndicator"
                            },
                            "numberingPlanIndicator": {
                                "name": "numberingPlanIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.numberingPlanIndicator"
                            },
                            "screeningIndicator": {
                                "name": "screeningIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.screeningIndicator"
                            },
                            "address": {
                                "name": "address",
                                "activeFilter": ""
                            },
                            "oddFlag": {
                                "name": "oddFlag",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.oddFlag"
                            },
                            "code": {
                                "name": "code",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.callingPartyNumber.code"
                            }
                        }
                    },
                    "originalCalledNumber": {
                        "name": "originalCalledNumber",
                        "activeFilter": "",
                        "type": "editor:OriginalCalledNumber",
                        "parameters": {
                            "natureOfAddressIndicator": {
                                "name": "natureOfAddressIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.originalCalledNumber.natureOfAddressIndicator"
                            },
                            "addressRepresentationRestrictedIndicator": {
                                "name": "addressRepresentationRestrictedIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.originalCalledNumber.addressRepresentationRestrictedIndicator"
                            },
                            "numberingPlanIndicator": {
                                "name": "numberingPlanIndicator",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.originalCalledNumber.numberingPlanIndicator"
                            },
                            "address": {
                                "name": "address",
                                "activeFilter": ""
                            },
                            "code": {
                                "name": "code",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.originalCalledNumber.code"
                            },
                            "oddFlag": {
                                "name": "oddFlag",
                                "isActive": true,
                                "activeFilter": "",
                                "required": true,
                                "type": "msg",
                                "value": "payload.originalCalledNumber.oddFlag"
                            }
                        }
                    }
                },
                "collapsed": false
            },
            "id path": {
                "name": "id",
                "isActive": true,
                "activeFilter": "",
                "required": true,
                "type": "flow",
                "collapsed": false,
                "value": "dialogId",
                "in": "path"
            }
        },
        "requestContentType": "application/json",
        "responseContentType": "application/json",
        "outputs": 2,
        "responseOutputLabels": [
            {
                "code": "200",
                "text": "OK"
            },
            {
                "code": "404",
                "text": "Not Found"
            }
        ],
        "responseAsPayload": false,
        "debugMode": false,
        "headers": [],
        "_version": "2.7.0",
        "x": 1230,
        "y": 360,
        "wires": [
            [
                "64ca9fb831dc38fb"
            ],
            [
                "64ca9fb831dc38fb"
            ]
        ]
    }
]